html{
    scroll-behavior: smooth;
    background-color: #0A122A;
    
}

body {
    font-family: 'Roboto', sans-serif;
    height: 70vh;
    position: relative;
}

#body {
    height: 90%;
    width: 100%;
}

h1 {
    position: absolute;               
    font-size: 4rem;
    margin: 0rem;
    text-align: left;
    padding-left: 1.5rem;
    margin: 0;
    top: 50%;                         
}

h4 {
    margin: 0;
    position: absolute;               
    top: 65%;                         
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1.5rem;
}

.arrow{
    display: flex;
}

.white-color {
    color: #EDF2F4;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #0A122A;
   background-color: #EDF2F4;
}

.social {
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    text-align: right;
}

.image {
    padding-left: 0.5rem;
}

.madeBy{
    text-align: right;
    padding-left: 1.5rem;
    font-size: 12px;
}

.flex-container {
    display: flex;
    background-color: white;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

